# Auto detect text files and perform LF normalization
* text=auto

# Source code files
*.dart text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.mts text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.css text eol=lf
*.sql text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.svg binary
*.lock binary
